<body>
  <div class="container">
      <div class="calculator">
          <div class=" display">
              <div class="previous-value">{{displayPreviousValue}}</div>
              <div class="current-value">{{displayCurrentValue}}</div>
          </div>
          <button class="col-2 col-sm-11 C" (click)="deleteAll()">C</button>
          <button class="del" (click)="deleteOne()">
              <img src="/assets/images/del.svg"
                   alt="DEL"
                   height="25"
                   width="35" />
          </button>
          <button class="operador" (click)="mostrarOperador('/')">/</button>
          <button class="numero" (click)="addNumero('7')">7</button>
          <button class="numero" (click)="addNumero('8')">8</button>
          <button class="numero" (click)="addNumero('9')">9</button>
          <button class="operador" (click)="mostrarOperador('*')">*</button>
          <button class="numero" (click)="addNumero('4')">4</button>
          <button class="numero" (click)="addNumero('5')">5</button>
          <button class="numero" (click)="addNumero('6')">6</button>
          <button class="operador" (click)="mostrarOperador('-')">-</button>
          <button class="numero" (click)="addNumero('1')">1</button>
          <button class="numero" (click)="addNumero('2')">2</button>
          <button class="numero" (click)="addNumero('3')">3</button>
          <button class="operador" (click)="mostrarOperador('+')">+</button>
          <button class="col-2 col-sm-11 numero" (click)="addNumero('0')">0</button>
          <button class="numero" (click)="addNumero('.')">.</button>
          <button class="operador" (click)="mostrarOperador('=')">=</button>
      </div>
  </div>

</body>
