<div class="btn-group" role="group">
  <button class="btn btn-primary" *ngIf="hasSend" (click)="send.emit(null)" [disabled]="sendDisabled"><i class="fa-solid fa-share-from-square"></i> {{sendText}}</button>
  <button class="btn btn-danger" *ngIf="hasDelete" (click)="delete.emit(null)"><i class="far fa-trash-alt"> {{deleteText}}</i></button>
  <button class="btn btn-success" *ngIf="hasCancel" (click)="cancel.emit(null)"><i class="fa-solid fa-person-walking-arrow-loop-left"></i> {{cancelText}}</button>
</div>
